*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerp{
    display: flex;
    flex-direction: column;
} 







/* Header Navagation */

header{
    background-color: rgba(0, 0, 0, 0.89);
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15)!important;
        backdrop-filter: blur(10px)!important;
        
    }

    .nav-item{
        font-size: 20px !important;
    }
}

.nav-item{
    font-size: 19px ;
}

.nav-item:hover{
    color: aqua !important;
}



/* fim header */

/* Introducao */



.banner{
    width: 100%;
    height: 85vh;
    background: url(img/paissagem03.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;

}

.banner-title{
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: 13rem;
    text-shadow: black 2px 2px 10px;
    margin-bottom: 3rem;
    font-family: 'Oswald', sans-serif;
}

.banner-text{
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.banner-button a {
    margin-top: 20px !important;
    padding: 14px;
    border-radius: 10px;
    border: solid 2px #fff;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}

@media (max-width:992px){
    .banner-title{
        font-size: 45px;
    }

    .banner-text{
        font-size: 12px;
    }
}


/* Fim Banner */

/* Programacao */



.pr-text{
    margin-top: 50px;
    text-align: center;
    font-size: 5rem;
}

.pr-p{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 100px;
}


.p-card{
    background-color: black;
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pr-button button{
    display: block;
    justify-content: center;
}

.butoons-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.butoons{
    width: auto;
    height: auto;
    padding-top: 250px;
   
}

.bbt{
    margin: 15px;
    padding: 5px;
    width: 250px;
    font-size: 22px;
    border-radius: 10;
    border: solid 1px black;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #343541;
    transition: 1s;
    
}


.bbt:link,
.bbt:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.bbt:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.bbt:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #343541;
    color: #fff;
}

.bbt::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #343541;
}

.bbt:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@media (max-width:486px){
    .pr-text{
        font-size: 3rem;
    }

    .pr-p{
        text-align: center;
        font-size: 1rem;
        margin-bottom: 100px;
    }

    .bbt{
        width: 150px;
        font-size: 15px;
    }

}

/* Fim da programacao */

/* oracao */

.oracao{
    margin-top: 400px;
}

.pr-text2{
    margin-top: 20px;
    text-align: center;
    font-size: 5rem;
}

.pr-p2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.form{
    margin: 50px auto;
}

.button{
    font-size: 100px;
}
/* fim da oracao */

/* Contato */

.containerMap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    min-height: 50px;
    margin: 30px;
    border-radius: 30px;

}

.map{
    width: 95%;
    border-radius: 30px;
}
/* fim do contato */



